<ion-header style="background:  #d9ecf2;">


  <ion-toolbar style="--background: #3f72af; color: #d9ecf2; font-family: 'Fondamento', cursive;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-title>ProducExpired</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/Login']">
        <ion-icon [routerLink]="['/Login']" color=" primary" slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>