.Col {
  --background: #f9f7f7;
  border-radius: 10px;
  margin-top: 3px;
}
.normal {
  margin-left: 40px;
}
.normal1 {
  margin:5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: bold;
  
}
.subtitulo {
  margin-left: 25px;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
}
