<app-inicio></app-inicio>

<ion-content style="--background: #d9ecf2;">

  
  <div class="m-3" *ngIf="enableP">
    <h1 style="text-align: center;font-family: 'Fondamento', cursive; color: #000000;">Productos</h1>
    <ion-segment mode="ios" (ionChange)='ChangeSegment($event)' value="Lacteos">
 
      <ion-segment-button value="Lacteos">
        <ion-label class="normal1">Lacteos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Enlatados">
        <ion-label class="normal1">Enlatados</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Snacks">
        <ion-label class="normal1">Snacks</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Bebidas">
        <ion-label class="normal1">Bebidas</ion-label>
      </ion-segment-button>
       
      <ion-segment-button value="Otros">
        <ion-label class="normal1">Otros</ion-label>
      </ion-segment-button>
    </ion-segment>
        
  </div>
  
    

    <div *ngIf="enablenewEdit">

      <div>
        <ion-buttons  slot="start">
          <ion-button  (click)=" enablenewEdit=false ;  enableG=true; enableP=true;" style="  font-family: 'Fondamento', cursive; ">
            <ion-icon name="arrow-back-outline"></ion-icon>
    
          </ion-button>
        </ion-buttons>
      </div>
  
      <h1 style="text-align: center;font-family: 'Fondamento', cursive; ">Edita Producto </h1>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item class="itemImput">
              <ion-label position="floating">Nombre del producto</ion-label>
  
              <ion-input [(ngModel)]="newProducto.nombre" type="text"></ion-input>
            </ion-item>
  
            
            <ion-item class="itemImput">
              <ion-label>Categoria</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="newProducto.categoria">
                <ion-select-option *ngFor="let categoria of itemsC">{{categoria.nombre}}
                </ion-select-option>
              </ion-select>
            </ion-item>
  
            <ion-item class="itemImput" class="itemImput">
              <ion-label position="floating">Precio</ion-label>
              <ion-input type="text" [(ngModel)]="newProducto.precio"></ion-input>
            </ion-item>
       
            <ion-item class="itemImput">
              <ion-label position="floating">Stock</ion-label>
              <ion-input type="number" [(ngModel)]="newProducto.stock"></ion-input>
            </ion-item>
            <ion-item class="itemImput">
  
              <ion-label position="floating">Fecha de Elaboración</ion-label>
              <ion-input style="margin-top: 5px;" [(ngModel)]="newProducto.fechaEL" type="date"></ion-input>
            </ion-item>
            <ion-item class="itemImput">
              <ion-label position="floating">Fecha de vencimiento</ion-label>
              <ion-input style="margin-top: 5px;" type="date" [(ngModel)]="newProducto.fechaEx"></ion-input>
            </ion-item>
            <ion-item class="itemImput">
              <ion-label position="floating">Descripción</ion-label>
              <ion-input type="text" [(ngModel)]="newProducto.descripcion"></ion-input>
            </ion-item>
            <ion-item>
              <img  class="itemImputI"   [src]="newProducto.foto">
             </ion-item>
          <ion-item class="itemImput">
            <ion-label>Foto</ion-label>
            <ion-buttons slot="end">
              <ion-button>
                <label for="Subir-F">
                  <ion-icon name="image-outline"></ion-icon>
                </label>
                <input (change)=newImagenUpload($event); id="Subir-F" type="file" style="display: none;"
                  accept="image/*">
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ion-item class="itemImput">
            <img class="itemImputI" [src]="newImage">
          </ion-item>


           
            
            
            </ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row class="ion ion-justify-content-center">
          <ion-col size="5">
            <ion-button style="--background: #213e3b; margin-top: -10px;"  (click)="addProducto()  ; enablenewEdit=false ; enableG=true; enableP=true;" expand="full">Listo
            </ion-button>
  
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </div>
    <ion-card    *ngFor="let productos of Categorias">



    <ion-grid *ngIf="enableG" >
      <ion-row >
        <ion-col   size="4">
          <ion-img [src]="productos.foto"></ion-img>
        </ion-col>
        <ion-col size="8">
          <ion-item>
            <ion-label class="subtitulo ion-text-wrap" >{{productos.nombre}}</ion-label>
            <ion-label style= "color:red;" class="normal m-3" >{{productos.estado}}</ion-label>
            <!-- <ion-button slot="end" *ngIf="caducado">Caducado</ion-button> -->
          </ion-item>
          
          <p class="normal m-3">Precio: {{productos.precio}}</p>
          <p class="normal m-3">FechaElaboración: {{productos.fechaEL | date}}</p>
          <p class="normal m-3">FechaExpiración: {{productos.fechaEx | date}}</p>
          
      <Div  *ngIf='admin' style="margin-left: 10%;">
        <ion-icon   (click)=" enablenewEdit=true ; newProducto = productos; enableG=false; enableP=false;" style="color: aquamarine; width: 50px; height:50px; background-position: 50%;"  name="arrow-redo-circle-outline"></ion-icon>
     
        <ion-icon (click)="eliminarProducto(productos)" style="width: 50px; height:50px; color: rgb(128, 30, 0);" name="close-circle"></ion-icon>
      </Div>
           
        </ion-col>
        
      </ion-row>
    </ion-grid>

  </ion-card>

            
</ion-content>

