<ion-header  *ngIf="!uid.length">

  <ion-toolbar style="--background: #3f72af;; color: cornsilk; font-family: 'Fondamento', cursive;">

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-title text-center>Iniciar Sesión</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>
<ion-content style="--background: #d9ecf2;">
  <div *ngIf="!uid.length">
    <img  class='icon' src="assets/icon/login.png">
    <div>
      <h1 style="text-align: center;font-family: 'Fondamento', cursive; ">INGRESA TUS DATOS </h1>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item *ngIf="!IngresarEnable" class="itemImput">
              <ion-label position="floating">Nombres:</ion-label>
              <ion-input [(ngModel)]="usuario.nombre" type="text"></ion-input>
            </ion-item>

            <ion-item class="itemImput">
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="text" [(ngModel)]="usuario.email"></ion-input>
            </ion-item>


            <ion-item class="itemImput" class="itemImput">
              <ion-label position="floating">Contraseña:</ion-label>
              <ion-input type="password" [(ngModel)]="usuario.contra"></ion-input>
            </ion-item>

            <ion-grid>
              <ion-row class="ion ion-justify-content-center">
                <ion-col size="6">
                  <ion-button *ngIf="!IngresarEnable" class="botones" (click)="Registrarse()" expand="full">
                    Registrarse</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button *ngIf="!IngresarEnable" class="botones" (click)="IngresarEnable = true" expand="full">
                    Ingresar</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button *ngIf="IngresarEnable"  class="botones" (click)="ingresar()" expand="full">
                    Login</ion-button>
                  </ion-col>
                  <ion-col size="6">
                  <ion-button *ngIf="IngresarEnable" class="botones" (click)="IngresarEnable = false" expand="full">
                    Registrarse</ion-button>

                  </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div *ngIf="uid.length">
    <ion-header style="background:  #d9ecf2;">
      <ion-toolbar style="--background: #3f72af; color: #d9ecf2; font-family: 'Fondamento', cursive;">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col>
              <ion-title>ProducExpired</ion-title>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-buttons slot="end">
          <ion-button [routerLink]="['/Login']">
            <ion-icon [routerLink]="['/Login']" color=" primary" slot="icon-only" name="person-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div>
      <h1 style="text-align: center;font-family: 'Fondamento', cursive; ">Tus Datos </h1>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item class="itemImput">
              <ion-label position="floating">Nombres:</ion-label>
              <ion-input [(ngModel)]="usuario.nombre" type="text"></ion-input>
            </ion-item>


            <ion-item  class="itemImput">
              <ion-label  position="floating" >E-mail: </ion-label>
              <ion-input   [(ngModel)]="usuario.email" type="text"> </ion-input>
            </ion-item>

            <ion-grid>
              <ion-row class="ion ion-justify-content-center">
                <ion-col size="5">
                  <ion-button style="--background:#3f72af; margin-top: 10px;" (click)="guardarUser()" expand="full">
                    Guardar
                  </ion-button>
                  <ion-button style="--background: #3f72af; margin-top: 10px;" (click)="Salir()" expand="full">Salir
                  </ion-button>

                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content> 