<ion-app >
  <ion-split-pane when="(min-width: 4500px)" contentId="main">
    <!--  the side menu  -->
    <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">


      <ion-header style="--background:  #d9ecf2;">
        <ion-toolbar style="--background:#3f72af;">
          <ion-title style="font-family: 'Fondamento', cursive; color:  #d9ecf2;">Menu</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeMenu()">
              <ion-icon style="color:  #d9ecf2;" name="arrow-forward-circle-outline"></ion-icon>
            </ion-button>
            
          </ion-buttons>

        </ion-toolbar>
      </ion-header>
      <ion-content style="--background: #d9ecf2; ">
        <ion-list style="background: #d9ecf2;">
          <ion-menu-toggle [routerLink]="['/Home']">
            <ion-item class="Item"  button lines="none">
              <ion-label class="Text"> Lista de Productos</ion-label>
              <ion-icon class="Icono" name="home-outline"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle [routerLink]="['/Productos']" *ngIf='admin'>
            <ion-item class="Item" >
              <ion-label class="Text">Ingreasar Productos</ion-label>
              <ion-icon class="Icono" name="bag-handle-outline"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        
         
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>





</ion-app>