<app-inicio></app-inicio>

<ion-content style="--background: #d9ecf2;">

  <div>
    <ion-buttons [routerLink]="['/Productos']" slot="start">
      <ion-button style="  font-family: 'Fondamento', cursive; ">
        <ion-icon name="arrow-back-outline"></ion-icon>

      </ion-button>
    </ion-buttons>
  </div>

  <div *ngIf="enablenewEdit">
    <h1 style="text-align: center;font-family: 'Fondamento', cursive; ">Edita Producto </h1>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="itemImput">
            <ion-label position="floating">Nombre del producto</ion-label>

            <ion-input [(ngModel)]="newProducto.nombre" type="text"></ion-input>
          </ion-item>

          
          <ion-item class="itemImput">
            <ion-label>Categoria</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="newProducto.categoria">
              <ion-select-option *ngFor="let categoria of itemsC">{{categoria.nombre}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="itemImput" class="itemImput">
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="text" [(ngModel)]="newProducto.precio"></ion-input>
          </ion-item>
     
          <ion-item class="itemImput">
            <ion-label position="floating">Stock</ion-label>
            <ion-input type="number" [(ngModel)]="newProducto.stock"></ion-input>
          </ion-item>
          <ion-item class="itemImput">

            <ion-label position="floating">Fecha de Elaboración</ion-label>
            <ion-input style="margin-top: 5px;" [(ngModel)]="newProducto.fechaEL" type="date"></ion-input>
          </ion-item>
          <ion-item class="itemImput">
            <ion-label position="floating">Fecha de vencimiento</ion-label>
            <ion-input style="margin-top: 5px;" type="date" [(ngModel)]="newProducto.fechaEx"></ion-input>
          </ion-item>
          <ion-item class="itemImput">
            <ion-label position="floating">Descripción</ion-label>
            <ion-input type="text" [(ngModel)]="newProducto.descripcion"></ion-input>
          </ion-item>
        
          <ion-item>
            <img  class="itemImputI"   [src]="newProducto.foto">
           </ion-item>
        <ion-item class="itemImput">
          <ion-label>Foto</ion-label>
          <ion-buttons slot="end">
            <ion-button>
              <label for="Subir-F">
                <ion-icon name="image-outline"></ion-icon>
              </label>
              <input (change)=newImagenUpload($event); id="Subir-F" type="file" style="display: none;"
                accept="image/*">
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item class="itemImput">
          <img class="itemImputI" [src]="newImage">
        </ion-item>

        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion ion-justify-content-center">
        <ion-col size="5">
          <ion-button style="--background: #213e3b; margin-top: -10px;" (click)="addProducto()"  expand="full">Listo
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
<div>
  <h1 style="text-align: center;font-family: 'Fondamento', cursive; ">Productos Registrados</h1>
  <ion-grid>
    
    <ion-item class="itemImput" *ngFor="let producto of items">
      <ion-label>
        {{producto.nombre}}
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)=" newProducto = producto; enablenewEdit=true">
          <ion-icon style="color: rgb(0, 211, 63);" name="pencil"></ion-icon>
        </ion-button>

        <ion-button (click)="eliminarProducto(producto)">
          <ion-icon style="color: rgb(128, 30, 0);" name="close-circle"></ion-icon>
        </ion-button>

      </ion-buttons>


    </ion-item>
  
</ion-grid>
</div>

  

</ion-content>