.itemImput{
    --background: #f9f7f7
    ;
    border: 1px solid black;
     border-radius: 10px;
     margin-top: 5px;
     
}
.itemImputI{
    --background: #e8ffff;
    
     border-radius: 10px;
     margin-top: 5px;
     width: 100%;
     margin: auto;
     
}