<app-inicio></app-inicio>
<ion-content style="--background: #d9ecf2;">
  <div>
    <h1 style="text-align: center;font-family: 'Fondamento', cursive; color: #000000;">Registra Productos </h1>

    <ion-toolbar style="--background: #d9ecf2;">
   
       
     
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/Listap']" style=" color: black; font-family: 'Fondamento', cursive; ">Lista
          <ion-icon style="padding: 5px; color: black;" name="clipboard-outline"></ion-icon>
        </ion-button>

      </ion-buttons>
    </ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="itemImput">
            <ion-label position="floating">Ingrese nombre del producto</ion-label>

            <ion-input [(ngModel)]="newProducto.nombre" type="text"></ion-input>
          </ion-item>
 
          <ion-item class="itemImput">
            <ion-label>Categoria</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="newProducto.categoria">
              <ion-select-option *ngFor="let categoria of itemsC">{{categoria.nombre}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="itemImput" class="itemImput">
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="text" [(ngModel)]="newProducto.precio"></ion-input>
          </ion-item>


          <ion-item class="itemImput">
            <ion-label position="floating">Stock</ion-label>
            <ion-input type="number" [(ngModel)]="newProducto.stock"></ion-input>
          </ion-item>

          <ion-item class="itemImput">

            <ion-label position="floating">Fecha de Elaboración</ion-label>
            <ion-input  style="margin-top: 5px;" [(ngModel)]="newProducto.fechaEL" type="date"></ion-input>
          </ion-item>

          <ion-item class="itemImput">
            <ion-label position="floating">Fecha de vencimiento</ion-label>
            <ion-input style="margin-top: 5px;" type="date" [(ngModel)]="newProducto.fechaEx"></ion-input>
          </ion-item>
          <ion-item class="itemImput">
            <ion-label position="floating">Descripción</ion-label>
            <ion-input type="text" [(ngModel)]="newProducto.descripcion"></ion-input>
          </ion-item>

          <ion-item class="itemImput">
            <ion-label>Foto</ion-label>
            <ion-buttons slot="end">
              <ion-button>
                <label for="Subir-F">
                  <ion-icon name="image-outline"></ion-icon>
                </label>
                <input (change)=newImagenUpload($event); id="Subir-F" type="file" style="display: none;"
                  accept="image/*">
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ion-item class="itemImput">
            <img class="itemImputI" [src]="newImage">
          </ion-item>

        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="ion ion-justify-content-center">
        <ion-col size="5">
          <ion-button style="--background: #3f72af; margin-top: -10px;" (click)="addProducto()" expand="full">Listo
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>