.Titulos{
   color: #213e3b;
  font-family: 'Fondamento', cursive;
  margin-left: 10px;
}

.Sub{
    margin-left: 10px;
}
.Ionic-con{
  --background-color: #000;
  
}
.itemImput{
  --background: #f9f7f7
  ;
  border: 1px solid black;
   border-radius: 10px;
   margin-top: 5px;
   
}