<app-inicio></app-inicio>
<ion-content   style="--background: #d9ecf2;" class="Ionic-con">
  <div>
  <ion-buttons [routerLink]="['/Productos']" slot="start">
    <ion-button style="  font-family: 'Fondamento', cursive; ">
      <ion-icon name="arrow-back-outline"></ion-icon>

    </ion-button>
  </ion-buttons>
  <div>
    <h1 style="text-align: center;font-family: 'Fondamento', cursive; ">Categorias Registradas</h1>
    <ion-grid class="gridP">
      <ion-item class="itemImput" *ngFor="let categoria of itemsC">
        <ion-label>
          {{categoria.nombre}}
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)=" newCategoria = categoria; enablenewCategoria=true">
            <ion-icon style="color: rgb(0, 211, 63);" name="pencil"></ion-icon>
          </ion-button>

          <ion-button (click)="DelateMCategoria(categoria)">

            <ion-icon style="color: rgb(128, 30, 0);" name="close-circle"></ion-icon>
          </ion-button>

        </ion-buttons>

      </ion-item>

      <ion-button style="--background: #112d4e; margin-top: 10px;" (click)="nuevoC()">
        Nuevo
      </ion-button>
    </ion-grid>
  </div>
  <div *ngIf="enablenewCategoria">
    <h1 style="text-align: center;font-family: 'Fondamento', cursive  ; margin-top: -10px;">Registra Categoria </h1>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="itemImput">
            <ion-label position="floating">Nombre de la Categoria</ion-label>
            <ion-input [(ngModel)]="newCategoria.nombre" type="text"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="ion ion-justify-content-center">
        <ion-col size="5">
          <ion-button style="--background: #112d4e; margin-top: -10px;" (click)="addCategoria()" expand="full">Listo
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</div>

</ion-content>
